@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@using System.Text.RegularExpressions;
@{
    var selection = Umbraco.Content(Guid.Parse("79f8284c-ebc9-416f-9571-951c93041d24"))
    .ChildrenOfType("contentPage")
    .Where(x => x.IsVisible())
    .Take(3);
}
<div class="mt-4">
    <div class="title-separator row">
        <div class="col">
            <h2>Saiba mais sobre os nossos produtos</h2>
        </div>
    </div>
    <div class="card-deck">
        @foreach (var item in selection)
        {
            var imgs = item.Value<IEnumerable<IPublishedContent>>("contentPageImages");
            <div class="card more-about">
                <img class="card-img-top" src="@imgs.FirstOrDefault().Url" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">@item.Value("contentPageTitle")</h5>
                    <p class="card-text">@item.Value("contentPageDescription")</p>
                </div>
                <div class="card-footer">
                    <div><strong><a href="@item.Url">Read more</a></strong></div>
                </div>
            </div>
        }
    </div>
</div>
