@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    // RICHTEXT EDITOR EM CODIGO
    /*
    https://our.umbraco.com/forum/developers/extending-umbraco/55104-Rich-Text-Editor-as-custom-Macro-Parameter-type
    https://our.umbraco.com/forum/templates-partial-views-and-macros/82089-tinymce-as-macro-parameter
    https://our.umbraco.com/documentation/extending/macro-parameter-editors/
    */
    var title = Model.MacroParameters["additionalInformationTitle"] as string;
    var image = Model.MacroParameters["additionalInformationImage"] as string;

    // Create a variable for the GUID of the page you want to update
    var guid = Guid.Parse("32e60db4-1283-4caa-9645-f2153f9888ef");

    // Get the page using the GUID you've defined
    var content = Services.ContentService.GetById(guid); // ID of your page

    // Create a variable for the desired value
    var htmlValue = new HtmlString("Add some text <strong>here</strong>");

    // Set the value of the property with alias 'richText'.
    content.SetValue("richText", htmlValue);

    // Save the change
    Services.ContentService.Save(content);
}
<button class="info-btn btn">@title</button>
<div class="info container">
    <div class="row">
        <div class="col-md-10">
            @text
        </div>
        <div class="col-md-2">
            <img src="@image.GetCropUrl()" alt=""/>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //mostra a text-box search
        $(".info-btn").click(function () {
            $(".info").css("display", "block");
            /*$(".info").animate({
                opacity: "toggle",
                width: "toggle"
            });*/
        });
    });
</script>