@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var title = Model.MacroParameters["titleButton"] as string;
}
<div class="row gridDiv">
    <button class="gridButton btn btn-primary mt-4 mb-4">@title</button>
</div>
