@inherits Umbraco.Web.Mvc.UmbracoViewPage
@if (!ViewData.ModelState.IsValid)
{
    <h3>Error</h3>
    foreach (ModelState modelState in ViewData.ModelState.Values)
    {
        var errors = modelState.Errors;

        if (errors.Any())
        {
            <ul>
                @foreach (var err in errors)
                {
                    <li><em>@err.ErrorMessage</em></li>
                }
            </ul>
        }
    }
}
else
{
    <h2>Email Address Verified</h2>
    <p>Thanks, your account as been verified</p>
    <a class="btn btn-primary" href="/login"><strong>Login</strong></a>
}
